@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Concert+One&family=M+PLUS+1+Code:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --web-color1: rgb(27, 174, 112);
    --web-background-color: rgba(27, 174, 113, 0.068);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body, html {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--web-background-color);

}
.header {
    width: 100%;
    min-width: 200px;
    height: auto;

    position: fixed;
    z-index: 2;
    top: 0;

    background-color: white;

    -webkit-box-shadow: 1px 0px 31px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 0px 31px -21px rgba(66, 68, 90, 1);
    box-shadow: 1px 0px 31px -21px rgba(66, 68, 90, 1);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 70%;
    min-height: 49vh;

    margin-top: 10%;
    padding: 2%;
    gap: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* ----------header elements---------- */
.header>h1 {
    font-family: "Righteous", monospace;
    font-weight: bolder;
    font-size: 70px;
    letter-spacing: 5px;
    background-color: rgb(26, 166, 107);
    background-size: contain;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header>img {
    position:fixed;
    left: 20px;

    height: 100px;
    width: 100px;

    background-size: cover;
}

/* ----------main elements---------- */
.main_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}
.main_header>h1 {
    font-family: "Montserrat";
    font-size: 3vw;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.main_header>h2 {
    font-family: "Montserrat";
    font-size: 1vw;
    font-weight: 400;
    color: gray;
}
footer {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    height: auto;
    padding-bottom: 50px;

    background: rgb(24,152,98);
    background: radial-gradient(circle, rgba(24,152,98,1) 0%, rgba(60,60,60,1) 95%);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1vw;

}
footer>ol {
    margin-top: 5%;
    
    font-family: "Rubik";
    color: white;

    list-style: none;
}
li {
    width: 330px;
    gap: 5px;

    text-decoration: none;

    display: flex;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    body, html {
        width: 100%;
    }
    .header>img {
        display: none;
    }
    .header>h1 {
        font-size: 6vw;
    }
    .main {
        width: 100%;
    }
    .main_header>h2 {
        font-size: 2vw;
    }
    footer {
        font-size: 2vw;
    }
    footer>ol {
        margin-top: 10%;
    }
}